<template>
  <h5>demo9---多种方式给物体施加作用力</h5>
  <div id="canvas1"></div>
  <div style="margin-top: 10px;text-align: center">
    <el-button @click="jumpTop" type="primary">向上跳动</el-button>
    <el-button @click="rollRight" type="primary">向右滚动</el-button>
    <el-button @click="moveRight" type="primary">向右移动</el-button>
    <el-button @click="rollRightTop" type="primary">向右滚动-上顶点</el-button>
    <el-button @click="rollRightBottom" type="primary">向右滚动-下顶点</el-button>
    <el-button @click="rollLeft" type="primary">向左滚动</el-button>
    <el-button @click="rotateZLeft" type="primary">绕z轴逆时针旋转</el-button>
    <el-button @click="rotateZRight" type="primary">绕z轴顺时针旋转</el-button>
  </div>
</template>

<script setup lang="ts">
import * as THREE from "three"
import {OrbitControls} from "three/examples/jsm/controls/OrbitControls.js"
import * as CANNON from "cannon-es"
import {onMounted} from "vue";

onMounted(() => {
  init();
})

let sphereBody: any
const init = () => {
  // 初始化物理世界
  const world = new CANNON.World();
  // 初始化重力
  world.gravity.set(0, -9.82, 0);

  // 初始化3D场景
  const scene = new THREE.Scene();
  // 初始化相机
  const camera = new THREE.PerspectiveCamera(
      75,
      1650 / 765,
      0.1,
      1000
  );
  camera.position.y = 4;
  camera.position.z = 10;

  //材质
  const boxMaterialCon = new CANNON.Material('boxMaterial');
  boxMaterialCon.friction = 0// 摩擦力
  boxMaterialCon.restitution = 0.1// 反弹效果

  //设置碰撞组，数值要用2的幂次方
  const GROUP1 = 1;
  const GROUP2 = 2;
  const GROUP3 = 4;

  // 初始化渲染器
  const renderer = new THREE.WebGLRenderer({antialias: true});
  renderer.setSize(1650, 765);
  document.getElementById('canvas1')?.appendChild(renderer.domElement)
  // 初始化控制器
  const controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true;

  // 创建一个物理世界的平面
  // const planeShape = new CANNON.Plane();
  const planeShape = new CANNON.Box(new CANNON.Vec3(5, 0.1, 5))
  // 创建一个刚体
  const planeBody = new CANNON.Body({
    // mass: 0,
    shape: planeShape,
    position: new CANNON.Vec3(0, 0, 0),
    type: CANNON.Body.STATIC,
    material: boxMaterialCon,
    collisionFilterGroup: GROUP1,
    collisionFilterMask: GROUP1 | GROUP2 | GROUP3,
  })
  // // 设置刚体旋转
  // planeBody.quaternion.setFromAxisAngle(new CANNON.Vec3(1,0,0),0.1)
  // 刚体添加到物理世界
  world.addBody(planeBody)

  //创建一个平面几何体
  // const planeGeometry = new THREE.PlaneGeometry(10,10)
  const planeGeometry = new THREE.BoxGeometry(10, 0.2, 10)
  // 创建一个平面材质
  const planeMaterial = new THREE.MeshBasicMaterial({color: 0xffff00})
  //创建一个平面网格
  const planeMesh = new THREE.Mesh(planeGeometry, planeMaterial)
  planeMesh.position.y = -0.1
  scene.add(planeMesh)

  let phyMeshes = [];
  let meshes = [];

  //创建一个球体
  const sphereShape = new CANNON.Sphere(0.5); // m
  // 创建一个刚体
  sphereBody = new CANNON.Body({
    mass: 1,// 质量（kg）
    shape: sphereShape,
    position: new CANNON.Vec3(0, 5, 0), // m
    material: boxMaterialCon,
    collisionFilterGroup: GROUP2,
    collisionFilterMask: GROUP1 | GROUP2 | GROUP3,
  })
  sphereBody.quaternion.setFromAxisAngle(new CANNON.Vec3(0, 0, 1), Math.PI)
  // 将刚体添加到物理世界
  world.addBody(sphereBody)
  phyMeshes.push(sphereBody)

  // 创建一个球体
  const sphereGeometry = new THREE.SphereGeometry(0.5, 8, 8)
  const sphereMaterial = new THREE.MeshBasicMaterial({color: 0xff0000, wireframe: true})
  const sphereMesh = new THREE.Mesh(sphereGeometry, sphereMaterial)
  sphereMesh.position.y = 5
  scene.add(sphereMesh);
  meshes.push(sphereMesh)


  //创建坐标系
  const axesHelper = new THREE.AxesHelper(5)
  scene.add(axesHelper)

// 渲染
  let clock = new THREE.Clock();

  function animate() {
    let delta = clock.getDelta();
    world.step(1 / 60, delta);
    // 更新球体网格的位置和旋转
    for (let i = 0; i < phyMeshes.length; i++) {
      meshes[i].position.copy(phyMeshes[i].position)
      meshes[i].quaternion.copy(phyMeshes[i].quaternion)
    }
    controls.update();
    renderer.render(scene, camera);
    requestAnimationFrame(animate)
  }

  animate();
}

const jumpTop = () => {
  sphereBody.applyForce(new CANNON.Vec3(0,100,0),sphereBody.position)//球会向上跳动
}
const rollRight = () => {
  sphereBody.applyForce(new CANNON.Vec3(10,0,0),sphereBody.position)//球会向右翻滚
}
const moveRight = () => {
  sphereBody.applyForce(new CANNON.Vec3(10, 0, 0), new CANNON.Vec3(0, 0, 0))//以球中心点为起始点，球会向右移动
}
const rollRightTop = () => {
  sphereBody.applyForce(new CANNON.Vec3(10,0,0),new CANNON.Vec3(0, 0.5, 0))//以上顶点为起始位置，球会向右翻滚（顺时针）
}
const rollRightBottom = () => {
  sphereBody.applyForce(new CANNON.Vec3(10, 0, 0), new CANNON.Vec3(0, -0.5, 0))//以下顶点为起始位置，球会向右翻滚（逆时针）
}
const rollLeft = () => {
  sphereBody.applyLocalForce(new CANNON.Vec3(10,0,0),new CANNON.Vec3(0,-0.5,0))//球旋转180度之后，下顶点和上顶点就变换位置了，球会向左翻滚（逆时针）
}
const rotateZLeft = () => {
  sphereBody.applyTorque(new CANNON.Vec3(0,0,10))//球会绕着z轴逆时针旋转
}
const rotateZRight = () => {
  sphereBody.applyTorque(new CANNON.Vec3(0,0,-10))//球会绕着z轴顺时针旋转
}

//监听点击事件
// window.addEventListener('click', () => {
  //   applyForce--对body的某个点施加力
  // sphereBody.applyForce(new CANNON.Vec3(0,100,0),sphereBody.position)//球会向上跳动
  // sphereBody.applyForce(new CANNON.Vec3(10,0,0),sphereBody.position)//球会向右翻滚
  // sphereBody.applyForce(new CANNON.Vec3(10, 0, 0), new CANNON.Vec3(0, 0, 0))//以球中心点为起始点，球会向右移动
  // sphereBody.applyForce(new CANNON.Vec3(10, 0, 0), new CANNON.Vec3(0, 0.5, 0))//以上顶点为起始位置，球会向右翻滚（顺时针）
  // sphereBody.applyForce(new CANNON.Vec3(10, 0, 0), new CANNON.Vec3(0, -0.5, 0))//以下顶点为起始位置，球会向右翻滚（逆时针）

  //   applyLocalForce---对body本地位置施加力
  // sphereBody.applyLocalForce(new CANNON.Vec3(10,0,0),new CANNON.Vec3(0,-0.5,0))//球旋转180度之后，下顶点和上顶点就变换位置了，球会向左翻滚（逆时针）

  //   applyImpulse---脉冲，冲量是在短时间内添加到物体上的力（冲量=力*时间）
  // sphereBody.applyImpulse(new CANNON.Vec3(10 * (1 / 60), 0, 0), new CANNON.Vec3(0, -0.5, 0))//以下顶点为起始位置，球会向右翻滚（逆时针）

  //   applyTorque---对body添加扭矩
  // sphereBody.applyTorque(new CANNON.Vec3(0,0,10))//球会绕着z轴逆时针旋转
  // sphereBody.applyTorque(new CANNON.Vec3(0,0,-10))//球会绕着z轴顺时针旋转
// })


</script>

<style scoped>
#canvas {
  width: 1180px;
  height: 780px;
}
</style>
