<template>
  <h5>demo1---基础碰撞</h5>
  <div id="canvas1"></div>
</template>

<script setup lang="ts">
import * as THREE from "three"
import {OrbitControls} from "three/examples/jsm/controls/OrbitControls.js"
import * as CANNON from "cannon-es"
import {onMounted} from "vue";

onMounted(() => {
  init();
})

const init = () => {
  // 初始化物理世界
  const world = new CANNON.World();
  // 初始化重力
  world.gravity.set(0, -9.82, 0);

  // 初始化3D场景
  const scene = new THREE.Scene();
  // 初始化相机
  const camera = new THREE.PerspectiveCamera(
      75,
      1000 / 800,
      0.1,
      1000
  );
  camera.position.z = 3;
  // 初始化渲染器
  const renderer = new THREE.WebGLRenderer({antialias: true});
  renderer.setSize(1000, 800);
  document.getElementById('canvas1')?.appendChild(renderer.domElement)
  // 初始化控制器
  const controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true;

  //创建一个球体
  const sphereShape = new CANNON.Sphere(0.5); // m
  // 创建一个刚体
  const sphereBody = new CANNON.Body({
    mass: 1,// 质量（kg）
    shape: sphereShape,
    position: new CANNON.Vec3(0, 5, 0) // m
  })
  // 将刚体添加到物理世界
  world.addBody(sphereBody)

  // 创建一个物理世界的平面
  // const planeShape = new CANNON.Plane();
  const planeShape = new CANNON.Box(new CANNON.Vec3(5,0.1,5))
  // 创建一个刚体
  const planeBody = new CANNON.Body({
    // mass: 0,
    shape: planeShape,
    position: new CANNON.Vec3(0, 0, 0),
    type:CANNON.Body.STATIC
  })
  // 设置刚体旋转
  planeBody.quaternion.setFromAxisAngle(new CANNON.Vec3(1,0,0),0.1)
  // 刚体添加到物理世界
  world.addBody(planeBody)

  // 创建一个球体几何体
  const sphereGeometry = new THREE.SphereGeometry(0.5, 32, 32)
  // 创建一个球体材质
  const sphereMaterial = new THREE.MeshBasicMaterial({color: 0x00ff00})
  // 创建一个球体网格
  const sphereMesh = new THREE.Mesh(sphereGeometry, sphereMaterial)
  scene.add(sphereMesh);

  //创建一个平面几何体
  // const planeGeometry = new THREE.PlaneGeometry(10,10)
  const planeGeometry = new THREE.BoxGeometry(10,0.2,10)
  // 创建一个平面材质
  const planeMaterial = new THREE.MeshBasicMaterial({color:0xffff00})
  //创建一个平面网格
  const planeMesh = new THREE.Mesh(planeGeometry,planeMaterial)
  planeMesh.rotation.x = 0.4
  scene.add(planeMesh)

// 渲染
  let clock = new THREE.Clock();

  function animate() {
    let delta = clock.getDelta();
    world.step(1 / 60,delta);
    // 更新球体网格的位置和旋转
    sphereMesh.position.copy(sphereBody.position)
    sphereMesh.quaternion.copy(sphereBody.quaternion)
    controls.update();
    renderer.render(scene, camera);
    requestAnimationFrame(animate)
  }
  animate();
}


</script>

<style scoped>
#canvas {
  width: 1180px;
  height: 780px;
}
</style>
