<template>
  <h5>demo3---弹性与接触材质</h5>
  <div id="canvas2"></div>
</template>

<script setup lang="ts">
import * as THREE from "three"
import {OrbitControls} from "three/examples/jsm/controls/OrbitControls.js"
import * as CANNON from "cannon-es"
import {onMounted} from "vue";

onMounted(() => {
  init();
})

const init = () => {
  // 初始化物理世界
  const world = new CANNON.World();
  // 初始化重力
  world.gravity.set(0, -9.82, 0);

  // 初始化3D场景
  const scene = new THREE.Scene();
  // 初始化相机
  const camera = new THREE.PerspectiveCamera(
      75,
      1650 / 765,
      0.1,
      1000
  );
  camera.position.y = 1;
  camera.position.z = 10;
  camera.lookAt(scene.position); //将相机指向场景
  // 初始化渲染器
  const renderer = new THREE.WebGLRenderer({antialias: true});
  renderer.setSize(1650, 765);
  document.getElementById('canvas2')?.appendChild(renderer.domElement)
  // 初始化控制器
  const controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true;

  //材质
  const boxMaterialCon = new CANNON.Material('boxMaterial');
  boxMaterialCon.friction = 0.7// 摩擦力
  boxMaterialCon.restitution = 1// 反弹效果


  // 创建一个物理世界的平面
  // const planeShape = new CANNON.Plane();
  const planeShape = new CANNON.Box(new CANNON.Vec3(5, 0.1, 5))
  // 创建一个刚体
  const planeBody = new CANNON.Body({
    // mass: 0,
    shape: planeShape,
    position: new CANNON.Vec3(0, 0, 0),
    type: CANNON.Body.STATIC,
    material: boxMaterialCon
  })
  // 设置刚体旋转
  planeBody.quaternion.setFromAxisAngle(new CANNON.Vec3(1, 0, 0), 0.1)
  // 刚体添加到物理世界
  world.addBody(planeBody)


  //创建一个平面几何体
  // const planeGeometry = new THREE.PlaneGeometry(10,10)
  const planeGeometry = new THREE.BoxGeometry(10, 0.2, 10)
  // 创建一个平面材质
  const planeMaterial = new THREE.MeshBasicMaterial({color: 0xffff00})
  //创建一个平面网格
  const planeMesh = new THREE.Mesh(planeGeometry, planeMaterial)
  planeMesh.rotation.x = 0.4
  scene.add(planeMesh)

  let phyMeshes = [];
  let meshes = [];

  //创建第一个物理立方体
  const boxShape = new CANNON.Box(new CANNON.Vec3(0.5, 0.5, 0.5));
  const boxBody = new CANNON.Body({
    shape: boxShape,
    position: new CANNON.Vec3(0, 5, 0),
    mass: 1,
    material: boxMaterialCon,
  })
  world.addBody(boxBody)
  phyMeshes.push(boxBody)

  //创建几何体
  const boxGeometry = new THREE.BoxGeometry(1, 1, 1);
  const boxMaterial = new THREE.MeshBasicMaterial({color: 0x00ff00});
  const boxMesh = new THREE.Mesh(boxGeometry, boxMaterial)
  scene.add(boxMesh)
  meshes.push(boxMesh)


  //创建第二个物理立方体
  const boxSlipperyMaterial = new CANNON.Material('boxSlipperyMaterial');//光滑的材质
  boxSlipperyMaterial.friction = 0 //摩擦系数
  const boxBody2 = new CANNON.Body({
    shape: boxShape,
    position: new CANNON.Vec3(1, 5, 0),
    mass: 1,
    material: boxSlipperyMaterial,
    // angularVelocity: new CANNON.Vec3(1, 10, 1),//角速度
    // angularDamping: 0.07// 角度阻尼
  })
  world.addBody(boxBody2)
  phyMeshes.push(boxBody2)

  //创建第二个几何体
  const boxMesh2 = new THREE.Mesh(boxGeometry, boxMaterial)
  scene.add(boxMesh2)
  meshes.push(boxMesh2)

  //创建第三个物理立方体
  const boxBouncyMaterial = new CANNON.Material('boxBouncyMaterial');//光滑的材质
  // 材质本身的摩擦系数和弹性效果会覆盖掉接触材质
  // boxBouncyMaterial.friction = 0.1 //摩擦系数
  // boxBouncyMaterial.restitution = 1 // 反弹效果

  const boxBody3 = new CANNON.Body({
    shape: boxShape,
    position: new CANNON.Vec3(2, 5, 0),
    mass: 1,
    material: boxBouncyMaterial,
    // angularVelocity: new CANNON.Vec3(1, 10, 1),//角速度
    // angularDamping: 0.07// 角度阻尼
  })
  world.addBody(boxBody3)
  phyMeshes.push(boxBody3)

  //创建第三个几何体
  const boxMesh3 = new THREE.Mesh(boxGeometry, boxMaterial)
  scene.add(boxMesh3)
  meshes.push(boxMesh3)

  // 定义接触材质
  const material3toPlane = new CANNON.ContactMaterial(
      boxMaterialCon, // 弹性材质
      boxBouncyMaterial, // 地面材质
      {
        friction:0,
        restitution: 0.1
      }
  )
  //将接触材质添加到物理世界
  world.addContactMaterial(material3toPlane)

  // 渲染
  let clock = new THREE.Clock();
  function animate() {
    let delta = clock.getDelta();
    world.step(1 / 60, delta);

    for (let i = 0; i < phyMeshes.length; i++) {
      meshes[i].position.copy(phyMeshes[i].position)
      meshes[i].quaternion.copy(phyMeshes[i].quaternion)
    }
    controls.update();
    renderer.render(scene, camera);
    requestAnimationFrame(animate)
  }

  animate();
}


</script>

<style scoped lang="less">
//#canvas2 {
//  width: 100%;
//  height: 100%;
//}
</style>
