<template>
  <h5>demo10---添加lockconstraint物体约束</h5>
  <div id="canvas1"></div>
</template>

<script setup lang="ts">
import * as THREE from "three"
import {OrbitControls} from "three/examples/jsm/controls/OrbitControls.js"
import * as CANNON from "cannon-es"
import {onMounted} from "vue";

onMounted(() => {
  init();
})

let sphereBody: any
const init = () => {
  // 初始化物理世界
  const world = new CANNON.World();
  // 初始化重力
  world.gravity.set(0, -9.82, 0);

  // 初始化3D场景
  const scene = new THREE.Scene();
  // 初始化相机
  const camera = new THREE.PerspectiveCamera(
      75,
      1650 / 765,
      0.1,
      1000
  );
  camera.position.y = 4;
  camera.position.z = 10;

  //材质
  const boxMaterialCon = new CANNON.Material('boxMaterial');
  boxMaterialCon.friction = 0// 摩擦力
  boxMaterialCon.restitution = 0.1// 反弹效果

  //设置碰撞组，数值要用2的幂次方
  const GROUP1 = 1;
  const GROUP2 = 2;
  const GROUP3 = 4;

  // 初始化渲染器
  const renderer = new THREE.WebGLRenderer({antialias: true});
  renderer.setSize(1650, 765);
  document.getElementById('canvas1')?.appendChild(renderer.domElement)
  // 初始化控制器
  const controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true;

  // 创建一个物理世界的平面
  // const planeShape = new CANNON.Plane();
  const planeShape = new CANNON.Box(new CANNON.Vec3(5, 0.1, 5))
  // 创建一个刚体
  const planeBody = new CANNON.Body({
    // mass: 0,
    shape: planeShape,
    position: new CANNON.Vec3(0, 0, 0),
    type: CANNON.Body.STATIC,
    material: boxMaterialCon,
    collisionFilterGroup: GROUP1,
    collisionFilterMask: GROUP1 | GROUP2 | GROUP3,
  })
  // // 设置刚体旋转
  // planeBody.quaternion.setFromAxisAngle(new CANNON.Vec3(1,0,0),0.1)
  // 刚体添加到物理世界
  world.addBody(planeBody)

  //创建一个平面几何体
  // const planeGeometry = new THREE.PlaneGeometry(10,10)
  const planeGeometry = new THREE.BoxGeometry(10, 0.2, 10)
  // 创建一个平面材质
  const planeMaterial = new THREE.MeshBasicMaterial({color: 0xffff00})
  //创建一个平面网格
  const planeMesh = new THREE.Mesh(planeGeometry, planeMaterial)
  planeMesh.position.y = -0.1
  scene.add(planeMesh)

  let phyMeshes = [];
  let meshes = [];

  let previousBody: any;
  const boxGeometry = new THREE.BoxGeometry(1,1,1)
  const boxMaterial = new THREE.MeshBasicMaterial({color:0x00ff00})
  const boxSphere = new CANNON.Box(new CANNON.Vec3(0.5,0.5,0.5))
  //循环十个并排立方体
  for (let i = 0; i < 10; i++) {
    const boxMesh = new THREE.Mesh(boxGeometry,boxMaterial)
    boxMesh.position.x = i
    boxMesh.position.y = 1
    meshes.push(boxMesh)
    scene.add(boxMesh)

    const boxBody = new CANNON.Body({
      mass:1,
      shape:boxSphere,
      position:new CANNON.Vec3(i + 0.2 * i,1,0),
      material:boxMaterialCon,
      collisionFilterGroup:GROUP2,
      collisionFilterMask: GROUP1 | GROUP2 | GROUP3,
    })
    world.addBody(boxBody)
    phyMeshes.push(boxBody)
    //将刚体添加到上一个刚体的约束中
    if (previousBody){
      const constraint = new CANNON.LockConstraint(boxBody,previousBody)
      world.addConstraint(constraint)//增加约束
      // world.removeConstraint(constraint)//移除约束
    }
    previousBody = boxBody
  }


  //创建坐标系
  const axesHelper = new THREE.AxesHelper(5)
  scene.add(axesHelper)

// 渲染
  let clock = new THREE.Clock();

  function animate() {
    let delta = clock.getDelta();
    world.step(1 / 60, delta);
    // 更新球体网格的位置和旋转
    for (let i = 0; i < phyMeshes.length; i++) {
      meshes[i].position.copy(phyMeshes[i].position)
      meshes[i].quaternion.copy(phyMeshes[i].quaternion)
    }
    controls.update();
    renderer.render(scene, camera);
    requestAnimationFrame(animate)
  }

  animate();
}


</script>

<style scoped>
#canvas {
  width: 1180px;
  height: 780px;
}
</style>
