<template>

  <div class="main">
<!--    <Demo1></Demo1>-->
<!--    <Demo2></Demo2>-->
<!--    <Demo3></Demo3>-->
<!--    <Demo4></Demo4>-->
<!--    <Demo5></Demo5>-->
<!--    <Demo6></Demo6>-->
<!--    <Demo8></Demo8>-->
<!--    <Demo9></Demo9>-->
    <Demo10></Demo10>
  </div>
</template>

<script setup lang="ts">
import Demo1 from "@/components/demo1.vue";
import Demo2 from "@/components/demo2.vue";
import Demo3 from "@/components/demo3.vue";
import Demo4 from "@/components/demo4.vue";
import Demo5 from "@/components/demo5.vue";
import Demo6 from "@/components/demo6.vue";
import Demo7 from "@/components/demo7.vue";
import Demo8 from "@/components/demo8.vue";
import Demo9 from "@/components/demo9.vue";
import Demo10 from "@/components/demo10.vue";

</script>

<style scoped lang="less">
.main{
  padding-left: 20px;
}
</style>
